<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu-toggle *ngFor="let m of menus">
      <ion-item (click)="onMenuItem(m)">
      <ion-icon [name]="m.icon" slot="start"> </ion-icon>
      <ion-title>{{m.titile}}</ion-title>
    </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content"></ion-router-outlet>