<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>ESP de Dakar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="{{contact.log}}"></ion-img>
      <ion-list>
          <ion-item>Name :<strong> {{contact.name}}</strong></ion-item>
          <ion-item>Email :<strong> {{contact.email}}</strong></ion-item>
          <ion-item>Tel :<strong> {{contact.tel}}</strong></ion-item>
        </ion-list>
      <ion-img src="{{contact.loc}}"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
